{% extends "blog/base.html" %}
{% block title %}
  Eventos
{% endblock title %}
{% block content %}
  <div class="col-md-12">
    {% for event in events %}
      <div class="content-section" style="overflow: auto;">
        <h3 class="article-title">{{ event.title }}</h3>
        <small class="text-muted">{{ event.date|date:"l j/n/Y, H:i" }}</small>
        <hr>
        <p class="article-content">{{ event.description|safe|linebreaks }}</p>
        {% if event.registered_users.all %}
          <div>
            {% for user in event.registered_users.all|slice:":50" %}
              <img class="rounded-circle avatar-group"
                   src="{{ user.profile.image.url }}"
                   width="40"
                   height="40"
                   alt="{{ user.username }}"
                   title="{{ user.username }}">
            {% endfor %}
          </div>
          <br>
        {% endif %}
        {% if user in event.registered_users.all %}
          <form action="{% url 'unregister-from-event' event.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-outline-secondary" type="submit">Desapuntarse de este evento</button>
          </form>
        {% else %}
          <form action="{% url 'register-to-event' event.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Apúntate a este evento</button>
          </form>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}
