{% extends "blog/base.html" %}
{% block title %}
  Eventos
{% endblock title %}
{% block content %}
  <div class="col-md-12">
    {% for event in events %}
      <div class="content-section " style="overflow: auto;">
        <h3 class="article-title">{{ event.title }}</h3>
        <i class="fas fa-map-marker-alt fa-fw"></i>&nbsp;&nbsp;<small class="text-muted">{{ event.location }}</small>
        <br>
        <i class="fas fa-calendar fa-fw"></i>&nbsp;&nbsp;<small class="text-muted">{{ event.date|date:"l j/n/Y, H:i" }}</small>
        <hr>
        <div class="row">
          <div class="col-md-8 mb-3 mb-lg-0">
            <p class="article-content">{{ event.description|safe|linebreaks }}</p>
            {% if event.registered_users.all %}
              <div>
                {% for user in event.registered_users.all|slice:":25" %}
                  <img class="rounded-circle avatar-group"
                        src="{{ user.profile.image.url }}"
                        width="40"
                        height="40"
                        alt="{{ user.username }}"
                        title="{{ user.username }}"
                        data-toggle="tooltip"
                        data-placement="top">
                {% endfor %}
              </div>
              <br>
            {% endif %}
            {% if user in event.registered_users.all %}
              <form action="{% url 'unregister-from-event' event.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-secondary  " type="submit">Desapuntarse del evento</button>
              </form>
            {% else %}
              <form action="{% url 'register-to-event' event.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Apúntate a este evento</button>
              </form>
            {% endif %}
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <img class="float-right rounded-lg shadow img-fluid"
                  src="{{ event.image.url }}">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
{% block script %}
  <script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
  </script>
{% endblock script %}
