{% extends "blog/base.html" %}
{% block title %}
  Sobre Iceberg
{% endblock title %}
{% block content %}
  <div class="col-md-8 m-auto">
    <div class="content-section">
      <h1>Sobre Iceberg</h1>
      <br />
      <p>
        Iceberg es una red social parte de mi proyecto de TFG de DAW, compuesta por un front end que tiene como objetivo
        ser tanto moderna como sencilla y limpia, y por un backend con las funcionalidades básicas en cualquier red social
        de la actualidad
      </p>
    </div>
  </div>
{% endblock content %}
