{% extends "blog/base.html" %}
{% block title %}
Política de Privacidad
{% endblock title %}
{% block content %}
<div class="col-md-8 m-auto">
  <div class="content-section text-center">
    <h1>Política de Privacidad</h1>
    <br />
    <p>
      En Iceberg, nos comprometemos a proteger su privacidad. Esta Política de Privacidad explica cómo recopilamos,
      utilizamos y divulgamos su información personal cuando utiliza Iceberg. Al acceder o utilizar Iceberg, usted
      acepta las prácticas descritas en esta Política.
    </p>
    <h2>Información que recopilamos</h2>
    <br />
    <ul>
      <li><b>Información personal</b>: Cuando usted crea una cuenta en Iceberg, podemos recopilar información como su
        nombre, dirección de correo electrónico y foto de perfil. También podemos recopilar información adicional si
        usted decide proporcionarla, como su ubicación, fecha de nacimiento e intereses.</li>
      <li><b>Información de uso</b>: Recopilamos información sobre cómo utiliza Iceberg, incluidas sus interacciones con
        otros
        usuarios, el contenido que publica o comparte y sus preferencias.</li>
      <li><b>Información sobre el dispositivo</b>: Podemos recopilar información sobre el dispositivo que utiliza para
        acceder
        a Iceberg, como el tipo de dispositivo, el sistema operativo y los identificadores únicos del dispositivo.
      </li>
    </ul>
    <br / >
    <h2>Uso de la información</h2>
    <br />
    <p>Utilizamos la información que recopilamos para los siguientes fines:</p>
    <ul>
      <li>Proporcionar y mejorar los servicios de Iceberg, personalizar su experiencia y personalizar el contenido.</li>
      <li>Comunicarnos con usted, responder a sus consultas y proporcionarle asistencia al cliente.</li>
      <li>Analizar patrones de uso, realizar investigaciones y mejorar la seguridad y el rendimiento de Iceberg.</li>
      <li>Enviarle comunicaciones promocionales o de marketing con su consentimiento</li>
    </ul>
    <br />
    <h2>Intercambio y divulgación de información</h2>
    <br />
    <p>Podemos compartir su información personal en las siguientes circunstancias:</p>
    <ul>
      <li>Con otros usuarios según lo indiquen sus interacciones en Iceberg, como cuando publica contenido o participa
        en la mensajería.</li>
      <li>Con terceros proveedores de servicios que nos ayudan a operar, gestionar y mejorar Iceberg. Estos proveedores
        están obligados contractualmente a salvaguardar su información.</li>
      <li>Cuando lo exija la ley o para proteger nuestros derechos, propiedad o seguridad, o los derechos, propiedad o
        seguridad de terceros.</li>
      <li>En relación con una fusión, adquisición o venta de la totalidad o una parte de nuestros activos, con las
        garantías adecuadas para proteger su información.</li>
    </ul>
    <br />
    <h2>Cookies y tecnologías de seguimiento</h2>
    <br />
    <p>Utilizamos cookies y tecnologías de seguimiento similares para recopilar información sobre su uso de Iceberg.
      Estas tecnologías nos ayudan a personalizar su experiencia, analizar tendencias y recopilar información
      demográfica. Usted tiene la opción de desactivar o gestionar las cookies a través de la configuración de su
      navegador. Sin embargo, tenga en cuenta que deshabilitar las cookies puede limitar ciertas características y
      funcionalidades de Iceberg.</p>
    <h2>Seguridad de los datos</h2>
    <br />
    <p>Empleamos medidas de seguridad estándar del sector para proteger su información personal frente al acceso, la
      divulgación, la alteración o la destrucción no autorizados. Aunque nos esforzamos por proteger su información,
      tenga en cuenta que ninguna transmisión de datos por Internet o método de almacenamiento electrónico es 100%
      segura. Por lo tanto, no podemos garantizar una seguridad absoluta.</p>
    <h2>Privacidad de los niños</h2>
    <br />
    <p>Iceberg no está pensada para ser utilizada por menores de 13 años. No recopilamos conscientemente información
      personal de niños menores de 13 años. Si cree que hemos recopilado inadvertidamente información de un niño,
      póngase en contacto con nosotros y la eliminaremos de inmediato.</p>
    <h2>Enlaces y servicios de terceros</h2>
    <br />
    <p>Iceberg puede contener enlaces a sitios web o servicios de terceros que no son de nuestra propiedad ni están
      bajo nuestro control. La presente política de privacidad no se aplica a esos servicios de terceros. Le
      recomendamos que consulte las políticas de privacidad de los servicios de terceros a los que acceda a través de
      Iceberg.</p>
  </div>
</div>
{% endblock content %}