{% extends "blog/base.html" %}
{% block title %}
  Términos de Servicio
{% endblock title %}
{% block content %}
<div class="col-md-8 m-auto">
  <div class="content-section text-center">
    <h1>Términos de Servicio</h1>
    <br />
    <p>
      ¡Bienvenido a Iceberg! Estos Términos de Servicio rigen el uso de la plataforma Iceberg. Al acceder o utilizar
      Iceberg, acepta quedar vinculado por estos Términos. Si usted no está de acuerdo con estos Términos, por favor
      absténgase de acceder o utilizar nuestra plataforma.
    </p>
    <h2>Aceptación de las condiciones</h2>
    <br />
    <p>Al utilizar Iceberg, usted afirma que tiene al menos 13 años de edad. Si es menor de 13 años, debe obtener el
      consentimiento de sus padres o tutores para utilizar nuestra plataforma. Usted se compromete a cumplir con estos
      Términos y todas las leyes y reglamentos aplicables durante el uso de Iceberg. El incumplimiento puede resultar en
      la terminación de su cuenta.</p>
    <h2>Conducta del usuario</h2>
    <br />
    <p>Usted es el único responsable de su uso de Iceberg, incluyendo el contenido que publique, comparta o ponga a
      disposición. Se compromete a no participar en ninguna de las siguientes actividades prohibidas:</p>
    <ul>
      <li>Publicar o compartir contenido que viole cualquier ley aplicable o infrinja los derechos de terceros.</li>
      <li>Acosar, abusar o amenazar a otros usuarios.</li>
      <li>Publicar o compartir contenidos difamatorios, obscenos, pornográficos o dañinos.</li>
      <li>Participar en actividades comerciales no autorizadas o enviar spam.</li>
      <li>Hacerse pasar por otra persona o entidad o representar falsamente su afiliación con cualquier individuo u
        organización.</li>
      <li>Intentar acceder, interferir o perturbar la seguridad, integridad o funcionalidad de Iceberg.</li>
    </ul>
    <br />
    <h2>Propiedad intelectual</h2>
    <br />
    <p>Iceberg y sus logotipos, marcas comerciales y derechos de autor asociados son propiedad de Iceberg. Usted se
      compromete a no utilizar, reproducir o distribuir cualquiera de nuestra propiedad intelectual sin nuestro
      consentimiento previo por escrito.</p>
    <h2>Propiedad del contenido</h2>
    <br />
    <p>Usted conserva la propiedad del contenido que publica en Iceberg. Al compartir contenido, usted nos otorga una
      licencia no exclusiva, mundial y libre de regalías para utilizar, reproducir, modificar y distribuir su contenido
      con el fin de operar y promover Iceberg. Además, declara y garantiza que tiene los derechos necesarios para
      publicar y compartir el contenido que sube a Iceberg y que no infringe los derechos de terceros.</p>
    <h2>Privacidad</h2>
    <br />
    <p>Su privacidad es importante para nosotros. Nuestra Política de Privacidad explica cómo recopilamos, utilizamos y
      divulgamos su información personal. Al utilizar Iceberg, usted acepta la recopilación, uso y divulgación de su
      información tal y como se describe en nuestra Política de Privacidad.</p>
    <h2>Rescisión</h2>
    <br />
    <p>Podemos, a nuestra discreción, suspender o cancelar su acceso a Iceberg en cualquier momento y por cualquier
      motivo sin previo aviso. Puede cancelar su cuenta poniéndose en contacto con nosotros o siguiendo el proceso de
      cierre de cuenta proporcionado en Iceberg.</p>
    <h2>Renuncias y limitación de responsabilidad</h2>
    <br />
    <p>Iceberg se proporciona "tal cual" y "según disponibilidad". No ofrecemos ninguna garantía con respecto a la
      fiabilidad, disponibilidad o idoneidad de la plataforma para un fin determinado. En la medida permitida por la
      ley, no seremos responsables de ningún daño indirecto, incidental, especial, consecuente o punitivo que surja de o
      esté relacionado con su uso de Iceberg.</p>
    <h2>Modificaciones de las Condiciones</h2>
    <br />
    <p>Nos reservamos el derecho a modificar o actualizar estas Condiciones en cualquier momento. Le notificaremos
      cualquier cambio material a través de la plataforma Iceberg o por otros medios.</p>
  </div>
</div>
{% endblock content %}