<script type="text/javascript">
	function sendFriendRequest(id, uiUpdateFunction){
		payload = {
			"csrfmiddlewaretoken": "{{ csrf_token }}",
			"receiver_user_id": id,
		}
		$.ajax({
			type: 'POST',
			dataType: "json",
			url: "{% url 'friend:friend-request' %}",
			timeout: 5000,
			data: payload,
			success: function(data) {
				console.log("Éxito", data);
				if (data['response'] != "Solicitud de amistad enviada" && data['response'] != null)
					alert(data['response']);
			},
			error: function(data) {
				console.error("Error", data);
				alert("Algo fue mal");
			},
			complete: function(data){
				uiUpdateFunction();
			}
		});
	}
</script>
